doctype html
html
  head
    script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='bootstrap.css', rel='stylesheet')
    link(href='hipset.css', rel='stylesheet')

link(href='https://fonts.googleapis.com/css?family=Cormorant|Open+Sans|Shrikhand', rel='stylesheet')

style
-var articles = [{"title": "Should you wear shoes in 2017?", "author": "Shoeless Hipster", "tag": "WTF", "img": "shoes.jpg", "content": "You've likely been wearing shoes for most of your life and never questioned whether you should continue to do so. Now, one hipster with cold feet is challenging the way we think about footwear."}, {"title": "How to choose the right fashion accessories for your dog", "author": "Hipster Fashionista", "tag": "WOOF WOOF", "img": "dog.jpg", "content": "If you think doggie accessories are limited to stupid little sweaters and ugly tutus, think again. Here we offer tips for making sure your dog dresses as cool as you do."}, {"title": "Choosing a couch that you won't be ashamed to let your friends sleep on", "author": "Hipster Fashionista", "tag": "KICKIN IT", "img": "couch.jpg", "content": "Do the words 'Hey, bro, can I crash at your place tonight' cause you to break out into a cold sweat because you're embarrassed over your crappy old couch? Learn how to avoid sofa shame with this guide to buying a couch that your friends will be happy to sleep on."}, {"title": "Tennessee hipsters eat more lard than other southern hipsters", "author": "Hipster Fashionista", "tag": "TN!", "img": "bread.jpg", "content": "What you've suspected is true. An informal survey suggests that hipsters cooks in Tennessee bake their biscuits, cornbread, and wedding cakes with twice the amount of lard used by hipsters in the other Southern states."}, {"title": "College hipsters reject label 'cool', prefer the term 'keen'", "author": "4th Year Hipster", "tag": "HIGHER ED", "img": "study.jpg", "content": "A seven-year study conducted by Vanderbilt University reveals that college hipsters prefer to refer to themselves as 'keen' rather than 'cool'when describing their sense of fashion, social justice, and sense of community."} ]

-var guides = [{"title": "moody hats", "img": "hipsterMan.jpg"}, {"title": "judgy stares", "img": "darkLady.jpg"}, {"title": "beard oil", "img": "hipsterDude.jpg"}, {"title": "moody hats", "img": "hipsterMan.jpg"}, {"title": "judgy stares", "img": "darkLady.jpg"}, {"title": "beard oil", "img": "hipsterDude.jpg"} ] 

mixin articles(articles)
 each article in articles
  a(href="https://google.com")
    div.row.article-container
       div.col-md-12.subtitle-div
        span.subtitle= article.tag
       div.col-md-12
        h2= article.title
       div.col-md-12
        div.col-md-4
          img(src= article.img).img-responsive.guide-img
        div.col-md-8
          p.guide-snippet= article.content
mixin guides(guides)
  each guide in guides

      div#guide(style="background-image: url(" + guide.img + ");")
        div#guide-content1
         div#guide-content-container 
          span#guide-text= guide.title
body
 div.container
  div.row
    header#top-nav-div.col-md-12
          h1#title.text-center Hipset
          ul#nav-links-ul
                li Fashion
                li News
                li Events
                li Search

  div.row#main

    div#feature.col-md-12
     div#feature-title-container 
      span.subtitle OH BOY
      br
      span#feature-text hipster fashion week brings hipsters out in droves
      br
      span#byline By: Hipster Fashionista
      br
      span#date 1.28.17

    div.col-md-2
  div.row#guides
   div.col-md-12 
    h2.text-center Hipset Reader Guides
  div.row
    div#hover
      span#left <
    div#guide-container
      +guides(guides)
    div#hover2
      span#right >


  h2.text-center Latest Articles
  +articles(articles)  

script.
  var amount = '';

  function scroll() {
      $('#guide-container').animate({
          scrollLeft: amount
      }, 100, 'linear',function() {
          if (amount != '') {
              scroll();
          }
      });
  }
  $('#hover2').hover(function() {
      amount = '+=30';
      scroll();
  }, function() {
      amount = '';
  });
  $('#hover').hover(function() {
      amount = '-=30';
      scroll();
  }, function() {
      amount = '';
  });




