div.row#herow
  div.col-md-12#hero
   h1#title The Measure of Confidence
   p#heroBody At our company, we believe that every customer has the right to measure accurately. That's why our products are meticulously desinged to exacting standards. Each product you buy has been rigorously tested by several of our engineers to ensure its quality and accuracy. Whether you're just pouring a glass of milk or preparing for an epic bake-off, these tools will equip you to measure confidently.
div.row
  div.col-md-12
    h2.text-center.subtitle Our Services
    div.row
      div.col-md-4
        img#svcimg.img-responsive(src='1-15.png')
        h2.text-center.subtitle Standards
      div.col-md-4
        img#svcimg.img-responsive(src='1-08.png')
        h2.text-center.subtitle Vessels
      div.col-md-4
        img#svcimg.img-responsive(src='1-09.png')
        h2.text-center.subtitle Tools
div.row
  div.col-md-12.footer
    p Arbitrary footer goes here