doctype html
html
  head
    script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
    meta(name='viewport', content='width=device-width, initial-scale=1')

link(href='https://fonts.googleapis.com/css?family=Cormorant|Open+Sans|Shrikhand', rel='stylesheet')

style
  include bootstrap.css
  include style.css


body
 div.container
  div.row
    div#topNavDiv.col-md-12
      div.row
        div.col-md-4
          ul#navLinks
            li Fashion
            li News
            li Events
        div.col-md-4
          h1#title.text-center Hipset

        div.col-md-4
          ul#search         
            li search

  div.row#main

    div#feature.col-md-12
     div#featureTitleContainer 
      span.subtitle OH BOY
      br
      span#featureText hipster fashion week brings hipsters out in droves
      br
      span#byline By: Hipster Fashionista
      br
      span#date 1.28.17

    div.col-md-2
  div.row#features
    div.col-md-4#article
      div#articleContent1
       div#articleTitleContainer 
        span#articleText wearing hats
    div.col-md-4#article
      div#articleContent2
       div#articleTitleContainer 
        span#articleText being moody
    div.col-md-4#article
      div#articleContent3
       div#articleTitleContainer 
        span#articleText much cooler
  div.row.guideContainer
     div.col-md-12.subtitleDiv
      span.subtitle KICKIN' IT
     div.col-md-12
      h2 Choosing a couch you'll be proud to let your friends sleep on 
     div.col-md-12
      div.col-md-4
        img(src='couch.jpg').img-responsive.guideImg
      div.col-md-8
        p.guideSnippet Your dog is your best friend, so he or she deserves to look good beside you. I decided i would try to start dressing like my dog when i watched the scene in 101 Dalmations where the characters watch a parade of dog/owner pairs in the park that resemble each other.
  div.row.guideContainer
     div.col-md-12.subtitleDiv
      span.subtitle WOOF WOOF
     div.col-md-12
      h2 Your guide to choosing accessories to match your dog 
     div.col-md-12
      div.col-md-4
        img(src='dog.jpg').img-responsive.guideImg
      div.col-md-8
        p.guideSnippet Your dog is your best friend, so he or she deserves to look good beside you. I decided i would try to start dressing like my dog when i watched the scene in 101 Dalmations where the characters watch a parade of dog/owner pairs in the park that resemble each other.
  div.row.guideContainer
     div.col-md-12.subtitleDiv
      span.subtitle WTF
     div.col-md-12
      h2 Do we really need shoes?
     div.col-md-12
      div.col-md-4
        img(src='shoes.jpg').img-responsive.guideImg
      div.col-md-8
        p.guideSnippet Your dog is your best friend, so he or she deserves to look good beside you. I decided i would try to start dressing like my dog when i watched the scene in 101 Dalmations where the characters watch a parade of dog/owner pairs in the park that resemble each other.
  div.row#footerNavContainer            
    div.col-md-4
      ul#footerNav
        li Contact
        li Corporate
        li Advertise





