nav.navbar.navbar-inverse.navbar-fixed-top
 .container
  .navbar-header
   a.navbar-brand(href='/map') TN BBQ

   button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
    span.sr-only Toggle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
  #navbar.navbar-collapse.collapse
   ul.nav.navbar-nav
    li.active
     a(href='/map') Map
    li
     a(href='/about') About
    li
     a(href='/contact') Contact