doctype html
html
head
 script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
 meta(name='viewport', content='width=device-width, initial-scale=1')


 link(href='https://fonts.googleapis.com/css?family=Lora|Raleway', rel='stylesheet')

 style
  include bootstrap.css
  include style.css


body
 .row
  #side.col-md-3
   #side-container.col-md-12
    h1#name.text-center Tanner West
    p#title.text-center content marketer/blog writer
    ul#navi.text-center
     li BLOG
     li ABOUT
     li PORTFOLIO
     li CONTACT
  #main.col-md-9
   h2 About Tanner West
   p Tanner West is a freelance web content writer and SEO expert based in East Tennessee. He specializes in creating information-rich content that’s both valuable to customers and attractive to search engines. His topics of expertise include HVAC service, automotive retail, home improvement, and energy-efficient technology. Write to west.tanner.j@gmail.com to contact Tanner and discuss optimizing your website.
script.
 $("#side").css("height", $(window).height());
 $(window).resize(function(){
   $("#side").css("height", $(window).height());
   $("#side-container").css("padding-top", $("#side").height()/4);
 })
 $("#side-container").css("padding-top", $("#side").height()/4);

script(src='govdata.js')
