#top-nav-div {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: white;
	z-index: 100;
	}
#title {
	font-family: 'Shrikhand';
	display: inline-block;
	vertical-align: center;
	margin: 10px;
}	
#nav-container {
	display: inline-block;
	text-align: center;
	width: 75%;
	right: 0px;
}
#nav-links-ul {
	top: 50%;
	padding: 0;
	display: inline;
}

#nav-links-ul > a {
}
#nav-links-ul > li {
	display: inline-block;
	text-align: right;
	margin: auto;
	font-size: 1.5em;
	width: 25%;
	margin: auto;

}


#feature {
	background-image: url(https://images.unsplash.com/photo-1478118330274-ff72cf1161a7?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=);
	height: 750px;
	background-position: center;
	margin-top: 60px;
	background-size: auto 100%;
}
#feature-title-container {
	width: 50%;
	position: absolute;
	top: 15px;
	left: 15px;
}
#feature-text, #article-text {
	background: rgba(0, 0, 0, 0.5);
	font-size: 4em;
	color: white;

}


#article-title-container {
	width: 50%;
	position: absolute;
	bottom: 15px;
	left: 30px;

}

#byline, #date {
	background: rgba(0, 0, 0, 0.5);
	font-size: 2em;
	color: white;
	}

#feature:hover * span {
	background-color: #FE085B;
	//color: black;
}

#article:hover * span {
	background-color: #FE085B;
	//color: black;
}

#article {
	margin-top: 30px;
	margin-bottom: 30px;

}
#article-content1 {
	background-image: url(hipsterMan.jpg);
	height: 300px;
	background-position: center;
	background-size: auto 100%;

}
#article-content2 {
	background-image: url(darkLady.jpg);
	height: 300px;
	background-position: center;
	background-size: auto 100%;

}
#article-content3 {
	background-image: url(hipsterDude.jpg);
	height: 300px;
	background-position: center;
	background-size: auto 100%;

}

.subtitle-div {
	text-align: left;
	margin-top: 20px;
}

.subtitle {
	font-size: 1.5em;
	color: #B200BE;
	background-color: yellow;
	padding: 8px;
	font-weight: bold;

}
.guide-container {
	border-top: 0.5px solid lightgray;
	margin-bottom: 20px;
}

.guide-img {
	height: 100%;
	margin: 10px;
}
.guide-snippet {
	margin: 10px;
	font-size: 1.5em;
}
#footer-nav {
	list-style-type: none;
	margin-top: 15px;
}
#footer-nav > li {
	font-size: 2em;
	color: white;
}
#footer-nav-container {
	background-color: #171110;
	height: 200px;
	margin: 0;
	padding: 0;
	margin-right: -30px;
	margin-left: -30px;
}