a, a:hover, a:visited {
	color: black;
	text-decoration: none;
}
.container {
	width: 100vw;
 }
#top-nav-div {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: white;
	z-index: 100;
	width: 100%;
	}
#title {
	font-family: 'Shrikhand';
	display: inline-block;
	vertical-align: center;
	margin: 10px;
}	

#nav-links-ul {
	top: 50%;
	padding: 0;
	display: inline-block;
	width: 80%;
	left: 20%;
}

#nav-links-ul > a {
}
#nav-links-ul > li {
	display: inline-block;
	text-align: center;
	margin: auto;
	font-size: 1.5em;
	margin: auto;
	width: 25%;


}
#guide-container {
width: 90%;
overflow-x: hidden;
overflow-Y: hidden;
height: 350px;
white-space: nowrap;
margin: 0;
float: left;
z-index: 1;
position: relative;
}

#hover, #hover2 {
	display: inline-block;
	height: 50px;
	border-radius: 50px;
	width: 50px;
	float: left;
	background-color: black;
	z-index: 2;
	position: relative;


}

#hover {
	transform: translate(15px, 150px);
}

#hover2 {
	transform: translate(-15px, 150px);
}

#left, #right {
	color: white;
	display: inline-block;
	margin: 7.5px 17.5px;
	font-size: 25px;
}


#guide-container * span {
	white-space: normal;

}


#guide-wrapper {
	width: 100%;
}
#feature {
	background-image: url(https://images.unsplash.com/photo-1478118330274-ff72cf1161a7?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=);
	height: 100vh;
	margin-top: 55px;
	background-size: cover;
}
#feature-title-container {
	width: 50%;
	position: absolute;
	top: 15px;
	left: 15px;
}
#feature-text, #guide-text {
	background: rgba(0, 0, 0, 0.5);
	font-size: 4em;
	color: white;

}


#guide-content-container {
	width: 50%;
	position: absolute;
	bottom: 15px;
	left: 30px;

}

#byline, #date {
	background: rgba(0, 0, 0, 0.5);
	font-size: 2em;
	color: white;
	}

#feature:hover * span {
	background-color: #FE085B;
	//color: black;
}

#guide:hover * span {
	background-color: #FE085B;
	//color: black;
}

#guide {
	vertical-align: middle;
	display: inline-block;
	width: 35%;
	margin: 10px;
	height: 100%;
	background-size: cover;
	background-position: center;
	position: relative;


}


.subtitle-div {
	text-align: left;
	margin-top: 20px;
}

.subtitle {
	font-size: 1.5em;
	color: #B200BE;
	background-color: yellow;
	padding: 8px;
	font-weight: bold;

}
.guide-container {
	border-top: 0.5px solid lightgray;
	margin-bottom: 20px;
}


.article-container {
	max-width: 1000px;
	margin: 20px;
}

.article-container:hover {
	//transform: translate(5px, -5px);
	-moz-box-shadow:    0px 1px 3px 1px #ccc;
    -webkit-box-shadow: 0px 1px 3px 1px #ccc;
     box-shadow:         0px 1px 3px 1px #ccc;
	}

.guide-img {
	height: 100%;
}
.guide-snippet {
	margin: 10px;
	font-size: 1.5em;
}
#footer-nav {
	list-style-type: none;
	margin-top: 15px;
}
#footer-nav > li {
	font-size: 2em;
	color: white;
}
#footer-nav-container {
	background-color: #171110;
	height: 200px;
	margin: 0;
	padding: 0;
	margin-right: -30px;
	margin-left: -30px;
}

@media (max-width: 480px) {
	h1, h2, h3, span {
		font-size: 2em !important;
	}

	p {
		font-size: 1.25em !important;
	}

	li {
		font-size: .75em !important;
	}
	#guide {
		width: 90%;
	}
	#nav-links-ul {
		display: none;
	}
	#guide-container {
		overflow-x: scroll;
		overflow-Y: hidden;
}
#hover, #hover2 {
	display: none;
	}
	.article-container{
		margin: 0px;
	}
}